#brand {
    color: white;
    font-size: 40px;
    float: left;
    background-color:#4aaaa5;
    padding: 10px;
    margin-left: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link {
    font-size: 30px;
    margin-right: 100px;
}

/* .navbar-nav .nav-link {
    padding: 200px;
} */

.bg-light {
    background-color: white !important;
    padding: 0;
}

.background{
    background: url(pattern.png)
}

.row{
    margin: 0 auto;
}

.content{
    border: 3px solid #dddddd;
    padding: 40px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    position: relative;
}

.content h1{
    font-size: 40px;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.user{
    left: 10px; top: 10px;
    width: 97%;
}

textarea{
    left:10px; top:10px;
    width: 97%;    
    height: 300px;
    resize: none;
}

.imgcontent {
    display: block;
    margin: auto;
    border: 3px solid #dddddd;
    padding: 20px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #4aaaa5;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    border-top: 20px solid #4aaaa5;;
 }

.container {
    max-width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card{
    margin-left: 20px;
    width: 300px;
    border: 3px solid #dddddd;
    height: 420px;
    padding: 5px;
}
.card-img-top{
    padding: 5px;
}

.card-body{
    text-align: center;
}

.img{
    border-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
 }

 .img h3{
    position: absolute;
    bottom: 40px;
    width: 95%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
    
 }

 img{
     padding-right: 20px;
 }